In [4]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [41]:
#converter pra type int
dictionaryCats = {"Garfield":["5.0","4.0","6.0"],"Rony":["1.0", "2.0","1.0"],"Dudu":["3.0","3.0","2.0"],"Racao/Mes":["Jan","Fev","Mar"]}
cats_df = pd.DataFrame(dictionaryCats)
cats_df

  Garfield Rony Dudu Racao/Mes
0      5.0  1.0  3.0       Jan
1      4.0  2.0  3.0       Fev
2      6.0  1.0  2.0       Mar

In [37]:
cats_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Garfield   3 non-null      float64
 1   Rony       3 non-null      float64
 2   Dudu       3 non-null      object
 3   Racao/Mes  3 non-null      object
dtypes: float64(2), object(2)
memory usage: 224.0+ bytes

In [43]:
cats_df[["Rony","Garfield","Dudu"]]=cats_df[["Rony","Garfield","Dudu"]].astype("float64")
cats_df

   Garfield  Rony  Dudu Racao/Mes
0       5.0   1.0   3.0       Jan
1       4.0   2.0   3.0       Fev
2       6.0   1.0   2.0       Mar

In [44]:
cats_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Garfield   3 non-null      float64
 1   Rony       3 non-null      float64
 2   Dudu       3 non-null      float64
 3   Racao/Mes  3 non-null      object
dtypes: float64(3), object(1)
memory usage: 224.0+ bytes